.vscode/
build/
sdkconfig.old
sdkconfig
bin/
.idea/
__pycache__/

output

mn03_coefficient.cpp
mn03_coefficient.hpp

msr01_coefficient.cpp
msr01_coefficient.hpp

mnp01_coefficient.cpp
mnp01_coefficient.hpp

mfn112_440m_prelu_512_coefficient_s16.cpp
mfn112_440m_prelu_512_coefficient_s16.hpp

mfn112_440m_prelu_512_coefficient_s8.cpp
mfn112_440m_prelu_512_coefficient_s8.hpp

dummy.py

# unit test
test_apps/*/*/build_*
test_apps/*/override-result.sdkconfig
pytest_log

dependencies.lock
managed_components/
**/*/sdkconfig.model.*

examples/*/**/build_*
test_apps/esp-dl/models/*/**/*.onnx
test_apps/esp-dl/models/*/**/*.info
test_apps/esp-dl/models/*/**/*.json

.DS_Store
docs/_build/
