menu "models: human_face_recognition"
    choice DB_FILE_SYSTEM
        prompt "database file system"
        default DB_FATFS_FLASH
        help
            fatfs support flash/sdcard. spiffs only support flash.
        config DB_FATFS_FLASH
            bool "fatfs_flash"
        config DB_FATFS_SDCARD
            bool "fatfs_sdcard"
        config DB_SPIFFS
            bool "spiffs"
    endchoice

    config DB_FILE_SYSTEM
        int
        default 0 if DB_FATFS_FLASH
        default 1 if DB_FATFS_SDCARD
        default 2 if DB_SPIFFS

    config SPIFLASH_MOUNT_POINT
        string "fatfs flash mount point"
        default "/spiflash"

    config SPIFLASH_MOUNT_PARTITION
        string "fatfs flash mount partition"
        default "storage"

    choice HUMAN_FACE_FEAT_MODEL
        prompt "Human Face Feat Model"
        default HUMAN_FACE_FEAT_MFN_S8_V1
        help
            support human_face_feat_mfn_s8_v1, human_face_feat_mbf_s8_v1
        config HUMAN_FACE_FEAT_MFN_S8_V1
            bool "human_face_feat_mfn_s8_v1"
        config HUMAN_FACE_FEAT_MBF_S8_V1
            bool "human_face_feat_mbf_s8_v1"
    endchoice

    config HUMAN_FACE_FEAT_MODEL
        int
        default 0 if HUMAN_FACE_FEAT_MFN_S8_V1
        default 1 if HUMAN_FACE_FEAT_MBF_S8_V1
endmenu
