menu "models: yolo11_detect"
    config YOLO11_DETECT_YOLO11_n_S8_V1
        bool "yolo11_detect_yolo11n_s8_v1"
        default y
    config YOLO11_DETECT_YOLO11_n_S8_V2
        bool "yolo11_detect_yolo11n_s8_v2"
        default n

    config YOLO11_DETECT_MODEL_TYPE
        int
        default 0 if YOLO11_DETECT_YOLO11_n_S8_V1
        default 1 if YOLO11_DETECT_YOLO11_n_S8_V2

    choice
        prompt "model location"
        default YOLO11_DETECT_MODEL_IN_FLASH_RODATA
        help
            yolo11_detect model location
        config YOLO11_DETECT_MODEL_IN_FLASH_RODATA
            bool "flash_rodata"
        config YOLO11_DETECT_MODEL_IN_FLASH_PARTITION
            bool "flash_partition"
        config YOLO11_DETECT_MODEL_IN_SDCARD
            bool "sdcard"
    endchoice

    config YOLO11_DETECT_MODEL_LOCATION
        int
        default 0 if YOLO11_DETECT_MODEL_IN_FLASH_RODATA
        default 1 if YOLO11_DETECT_MODEL_IN_FLASH_PARTITION
        default 2 if YOLO11_DETECT_MODEL_IN_SDCARD
endmenu
