menu "models: coco_detect"
    config FLASH_COCO_DETECT_YOLO11N_S8_V1
        bool "flash coco_detect_yolo11n_s8_v1"
        depends on !COCO_DETECT_MODEL_IN_SDCARD
        default n
    config FLASH_COCO_DETECT_YOLO11N_S8_V2
        bool "flash coco_detect_yolo11n_s8_v2"
        depends on !COCO_DETECT_MODEL_IN_SDCARD
        default n
    config FLASH_COCO_DETECT_YOLO11N_S8_V3
        bool "flash coco_detect_yolo11n_s8_v3"
        depends on !COCO_DETECT_MODEL_IN_SDCARD
        default y
    config FLASH_COCO_DETECT_YOLO11N_320_S8_V3
        bool "flash coco_detect_yolo11n_320_s8_v3"
        depends on !COCO_DETECT_MODEL_IN_SDCARD
        default n

    choice
        prompt "default model"
        default COCO_DETECT_YOLO11N_S8_V3
        help
            default coco_detect model
        config COCO_DETECT_YOLO11N_S8_V1
            bool "coco_detect_yolo11n_s8_v1"
            depends on COCO_DETECT_MODEL_IN_SDCARD || FLASH_COCO_DETECT_YOLO11N_S8_V1
        config COCO_DETECT_YOLO11N_S8_V2
            bool "coco_detect_yolo11n_s8_v2"
            depends on COCO_DETECT_MODEL_IN_SDCARD || FLASH_COCO_DETECT_YOLO11N_S8_V2
        config COCO_DETECT_YOLO11N_S8_V3
            bool "coco_detect_yolo11n_s8_v3"
            depends on COCO_DETECT_MODEL_IN_SDCARD || FLASH_COCO_DETECT_YOLO11N_S8_V3
        config COCO_DETECT_YOLO11N_320_S8_V3
            bool "coco_detect_yolo11n_320_s8_v3"
            depends on COCO_DETECT_MODEL_IN_SDCARD || FLASH_COCO_DETECT_YOLO11N_320_S8_V3
    endchoice

    config DEFAULT_COCO_DETECT_MODEL
        int
        default 0 if COCO_DETECT_YOLO11N_S8_V1
        default 1 if COCO_DETECT_YOLO11N_S8_V2
        default 2 if COCO_DETECT_YOLO11N_S8_V3
        default 3 if COCO_DETECT_YOLO11N_320_S8_V3

    choice
        prompt "model location"
        default COCO_DETECT_MODEL_IN_FLASH_RODATA
        help
            coco_detect model location
        config COCO_DETECT_MODEL_IN_FLASH_RODATA
            bool "flash_rodata"
        config COCO_DETECT_MODEL_IN_FLASH_PARTITION
            bool "flash_partition"
        config COCO_DETECT_MODEL_IN_SDCARD
            bool "sdcard"
    endchoice

    config COCO_DETECT_MODEL_LOCATION
        int
        default 0 if COCO_DETECT_MODEL_IN_FLASH_RODATA
        default 1 if COCO_DETECT_MODEL_IN_FLASH_PARTITION
        default 2 if COCO_DETECT_MODEL_IN_SDCARD

    config COCO_DETECT_MODEL_SDCARD_DIR
        string "coco_detect model sdcard dir"
        default "models/s3" if IDF_TARGET_ESP32S3
        default "models/p4" if IDF_TARGET_ESP32P4
        depends on COCO_DETECT_MODEL_IN_SDCARD
        help
            Directory of models relative to sdcard mount point.
endmenu
